body {
    font-size: 1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    margin:0;
}
table{
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    max-width: 840px; 
    width:100%; 
    padding: 5px 10px 5px 10px;
    border:0;
    border-collapse: collapse;
    border-spacing:10px;
}
td{
    padding: 15px 0;
}
h1 {
    font-size: 2em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top:0.67em;
    margin-bottom:1em;
}
h2 {
    font-size: 1.1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:0.67em;
}
h3 {
    font-size: 1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top:0.67em;
    margin-bottom:1px;
}
p{
    text-align:justify;
    padding: 0px 5px 0px 5px;
}
ul {
    text-align:justify;
    list-style: inside none;
}
#disc {
  list-style-type: disc;
}
#none {
  list-style-type: none;
}

table.navigation {
    background:#F2F2F2;
    text-align:center;
    
}
table.content {
    background:white;
    text-align:start;
}
