body {
    font-size: 40px;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
}
h1 {
    font-size: 40px;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
}
