html {
    overflow-y: scroll;
}
.wrapper {
position: relative;
background: #F2F2F2;
}

.master_header {
background: #231f20;
min-height: 3.125em;
white-space: nowrap;
position: relative;
z-index: 4;
}
.menu{
position: relative;
background:transparent;
max-width:840px;
margin-left: auto;
margin-right: auto;
margin-top:0;
margin-bottom:0;
text-align: center;
padding:0.75em 0 0 0;
font: 16px/24px "ProximaNova-Regular", Tahoma, Arial, sans-serif;
color:white;
}

.name_wrapper{
background: white;
min-height: 158px;
white-space: nowrap;
position: relative;
z-index: 4;
}
.name_block{
position: relative;
background:transparent;
max-width:840px;
margin-left: auto;
margin-right: auto;
padding: 8px 0 0 0;
z-index: 3;
}
.smile {
position: relative;
padding: 0;
width:150px;
height:150px;
margin-left: auto;
margin-right: auto;
float:left;
}
.affiliation {
position: relative;
padding: 0;
height:150px;
margin-left: 1em;
margin-right: auto;
float:left;
}

.navigation_block{
position: relative;
text-align:center;
background: #F2F2F2;
width:840px;
max-height:51px;
margin-left: auto;
margin-right: auto;
margin-top:0;
margin-bottom:0;
padding: 16px 0;
z-index: 1;

display: inline-block;
}

.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#navigation_container {
    text-align: center;
}

.content_wrapper{
position: relative;
background: #F2F2F2;
max-width:840px;
margin-left: auto;
margin-right: auto;
margin-top:0;
margin-bottom:0;
z-index: 1;
}

.content{
position: relative;
background-color: white;
text-align:justify;
max-width:840px;
padding: 1em;
border:0;
margin-left: auto;
margin-right: auto;
margin-top:0;
margin-bottom:0;
z-index: 2;
}

@media screen and (max-width:1051px){
   .pub_block {display: none;}
}

.pub_block {
background: white;
position: absolute;
left:840;
margin-left:8px;
padding: 1em;
z-index: 2;
}
.sn_block {
background: white;
white-space: nowrap;
position: fixed;
top: 249px;
left:0;
z-index: 3;
}







body {
    font-size: 1em;
    color: black;
    background-color: #F2F2F2;
    font-family: Georgia, serif;
    margin:0;
}
table{
    margin-left:auto; 
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    max-width: 840px; 
    width:100%;
    background-color: white;
    padding: 0;
    border:0;
    border-color:white;
    border-spacing:0;
}
table.header{
    background-color:#F2F2F2;
    padding:0;
    height:1em;
}
table.footer {
    border-spacing:0;
    padding:0;
    background-color:#F2F2F2;
    text-align:center;
}
td{
    background:white;
    text-align:justify;
    padding: 0 1em 1em 1em;
}
td.header{
    padding: 1em;
    width:150px;
}
h1 {
    font-size: 2em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    padding:0 0 0.5em 0;
    margin:0;
}
h2 {
    font-size: 1.3em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top: 1.1em;
    margin-bottom:0.67em;
    padding: 0 0 0 5px;
}
h3 {
    font-size: 1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top:0.67em;
    margin-bottom:1px;
}
p{
    text-align:justify;
}
.nowrap {
    white-space:nowrap;
}

.highlight {
    background-color:yellow;

}
ul {
    text-align:justify;
    list-style: inside none;
    padding:0;
}
li{
    
}
.pub_list{
    margin: 3px 0;
}

#disc {
  list-style-type: disc;
  padding: 0 0 1px 1px;
}
#none {
  list-style-type: none;
}
#navigation {
    background:#F2F2F2;
    text-align:center;
    padding: 1em 0;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
